.s01p{
    .wrapper{
        @media screen and (max-aspect-ratio: '3/4') {
            justify-content: center;

        }
        .primary-message{
            align-items: center;
            @media screen and (max-aspect-ratio: '3/4') {
                align-items: center;
    
            }
        }
        .logo-flip{
            position: absolute;
            top: 100%;
            left: 100%;
            transform: translate(-50%,-50%);
            @media (min-width:768px) {
                top: 100%;
                left: 100%;
                transform: translate(-50%,-50%);
            }
        }
        svg{
            @media screen and (max-aspect-ratio: '3/4') {
                width: 100vw;
                height: auto;
            }
            @media screen and (min-aspect-ratio: '4/3') {
                width: 100vh;
                height: auto;
            }
        }
        h1{
            max-width: 11ch;
            @media (min-width: 768px) and (max-aspect-ratio: '3/4') {
                font-size: calc(16px + 7vw);
            }
            @media (min-width: 990px) and (min-aspect-ratio: '4/3') {
                font-size: calc(16px + 7vh);
            }
        }
    }
}