nav{
    height: auto;
    width: 100%;
    position: absolute;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    .collapse-area{
        background-color: rgb(19, 7, 49);
        background-image: url('../../assets/city.jpg');
        background-position: center;
        background-size: cover;
        background-blend-mode: multiply;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1010;
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
        justify-content: center;
        padding: 64px;
        color: rgba(253, 253, 253,1);
        transform-origin: top right;
    }
    .navigation{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1011;
        padding: 16px;
        display: flex;
        align-items: start;
        justify-content: space-between;
        @media (min-width:768px) {
            padding: 32px;
        }
        a{
            svg.logo{
                width: 60px;
                height: 50px;
                transition: 0.3s;
                &:hover{
                    opacity: 0.8;
                    cursor: pointer;
                }
            }
        }
    }
}