.landing-page{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: linear-gradient(200.28deg, #6500B4 6.36%, #AF3DD7 22.75%, #B573F7 40.5%, #11F0FE 59.17%, #61B1FA 76.92%, #331974 93.76%);
    background-color: rgba(19, 7, 49, 0.8);
    background-blend-mode: darken;
    scroll-snap-type: y mandatory;
    .screen{
        position: relative;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        scroll-snap-align: start;
        overflow: hidden;
        padding: calc(1/12 * 100vh) calc(1/12 * 100vw);
        .text-container{
            display: flex;
            flex-direction: column;
            gap: 16px;
            color: rgba(242, 242, 242, 0.95);
        }
    }
    .screen01{
        display: flex;
        align-items: center;
        gap: 0px;
        .text-container{
            h1{
                text-transform: uppercase;
                font-weight: 900;
                line-height: 95%;
                max-width: 16ch;
            }
            p{
                max-width: 30ch;
            }
        }
        .zebra{
            display: flex;
            flex-direction: column;
            gap: 32px;
            .logo-header{
                display: flex;
                gap: 20px;
                align-items: center;
                gap: clamp(20px, 30px, 40px);
                .name{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    span{
                        font-weight: 300;
                        text-transform: lowercase;
                        font-size: 1.9531rem;
                    }
                    h2{
                        white-space: nowrap;
                    }
                    h5{
                        text-transform: capitalize;
                    }
                }
                svg{
                    height: auto;
                    width: clamp(40px, 80px, 80px);
                }
            }
            .address{
                display: flex;
                flex-direction: column;
                gap: 4px;
                h6{
                    font-weight: 300;
                }
            }
            .social-icons{
                margin-top: 16px;
                display: flex;
                gap: 32px;
                align-items: center;
                a{
                    svg{
                        fill: #fdfdfd;
                        min-width: 16px;
                        max-width: 24px;
                        height: auto;
                        margin: auto;
                    }
                }
            }
        }
        svg.large-logo{
            position: absolute;
            fill: rgba(253, 253, 253, 0.1);
            @media screen and (max-aspect-ratio: '3/4') {
                height: 100vw;
                width: auto;
                left: 100vw;
                top: 100vh;
                transform: translate(-50%, -50%);
            }
            @media screen and (min-aspect-ratio: '4/3') {
                height: 100vh;
                width: auto;
                left: 100vw;
                top: 100vh;
                transform: translate(-50%, -50%);
            }
            @media screen and (aspect-ratio: '1/1') {
                height: 100vh;
                width: auto;
                left: 100vw;
                top: 100vh;
                transform: translate(-50%, -50%);
            }
        }
    }
    .screen02{
        align-items: center;
        .text-container{
            h1{
                text-transform: uppercase;
                font-weight: 900;
                line-height: 90%;
                max-width: 13ch;
            }
            h4{
                text-transform: capitalize;
                opacity: 0.8;
            }
            p{
                max-width: 32ch;
            }
        }
    }
    svg.birds{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(1/12 * 100vh);
            left: calc(0.5/12 * 100vw);
            top: calc(3/12 * 100vh);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(1.5/12 * 100vh);
            left: calc(1/12 * 100vw);
            top: calc(2/12 * 100vh);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(1.5/12 * 100vh);
            left: calc(0.5/12 * 100vw);
            top: calc(1/12 * 100vh);
        }
    }
    svg.upCloud{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(1/12 * 100vh);
            right: calc(1/12 * 100vw);
            top: calc(1/12 * 100vh);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(1/12 * 100vw);
            right: calc(1/12 * 100vw);
            top: calc(0.5/12 * 100vh);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(1/12 * 100vh);
            right: calc(1/12 * 100vw);
            top: calc(1/12 * 100vh);
        }
    }
    svg.midCloud{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(0.7/12 * 100vh);
            right: calc(3.5/12 * 100vw);
            top: calc(2.5/12 * 100vh);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(0.6/12 * 100vw);
            right: calc(2.5/12 * 100vw);
            top: calc(3/12 * 100vh);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(0.7/12 * 100vh);
            right: calc(3.5/12 * 100vw);
            top: calc(2.5/12 * 100vh);
        }
    }
    svg.downCloud{
        width: auto;
        position: fixed;
        z-index: 1000;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(0.7/12 * 100vh);
            right: calc(1.5/12 * 100vw);
            top: calc(3.5/12 * 100vh);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(0.6/12 * 100vw);
            right: calc(1/12 * 100vw);
            top: calc(4/12 * 100vh);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(0.7/12 * 100vh);
            right: calc(1.5/12 * 100vw);
            top: calc(3.5/12 * 100vh);
        }
    }
    svg.rocket{
        width: auto;
        position: fixed;
        height: calc(1/3 * 100vh);
        right: calc(1/12 * 100vw);
        top: calc(1/12 * 100vh + 20px)
    }
    svg.mountain{
        width: auto;
        position: fixed;
        // left: 0;
        bottom: 0;
        @media screen and (max-aspect-ratio: '3/4') {
            left: calc(-2/12 * 100vh);
            height: calc(5/12 * 100vh);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(5.5/12 * 100vh);
            left: calc(1/12 * 100vw);
        }
        @media screen and (aspect-ratio: '1/1') {
            left: calc(-2/12 * 100vh);
            height: calc(5/12 * 100vh);
        }
    }
    svg.stars{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(5/12 * 100vh);
            top: calc(1/12 * 100vh);
            left: 0;
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(5.5/12 * 100vh);
            left: 0;
            top: calc(0.5/12 * 100vh);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(5/12 * 100vh);
            top: calc(1/12 * 100vh);
            left: 0;
        }
    }
    svg.earth{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(5/12 * 100vh);
            top: calc(8/12 * 100vh);
            left: calc(1/12 * 100vw);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(7/12 * 100vh);
            top: calc(12/12 * 100vh);
            left: calc(1/12 * 100vw);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(7/12 * 100vh);
            top: calc(12/12 * 100vh);
            left: calc(1/12 * 100vw);
        }
    }
    svg.mars{
        width: auto;
        position: fixed;
        @media screen and (max-aspect-ratio: '3/4') {
            height: calc(5/12 * 100vh);
            top: calc(12/12 * 100vh);
            left: calc(6/12 * 100vw);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            height: calc(7/12 * 100vh);
            top: calc(12/12 * 100vh);
            left: calc(6/12 * 100vw);
        }
        @media screen and (aspect-ratio: '1/1') {
            height: calc(5/12 * 100vh);
            top: calc(12/12 * 100vh);
            left: calc(6/12 * 100vw);
        }
    }
    .code{
        position: absolute;
        color: rgba(242, 242, 242, 0.2);
        overflow: hidden;
        @media screen and (max-aspect-ratio: '3/4') {
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media screen and (min-aspect-ratio: '4/3') {
            width: 50%;
            height: 80%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media screen and (aspect-ratio: '1/1') {
            width: 50%;
            height: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .window{
            display: flex;
            overflow: hidden;
            @media screen and (max-aspect-ratio: '3/4') {
                height: 80%;
                margin: auto;
            }
            @media screen and (min-aspect-ratio: '4/3') {
                height: 60%;
                margin: auto;
            }
            .column{
                display: flex;
                flex-direction: column;
                .zero, .one{
                    padding: 4px;
                    font-weight: 900;
                }
                .zero{
                    background: transparent;
                }
                .one{
                    background: transparent;
                }
                &:nth-child(odd){
                    position: relative;
                    bottom: 90%;
                    animation-name: odd;
                    animation-duration: 4s;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                }
                &:nth-child(even){
                    position: relative;
                    bottom: 80%;
                    animation-name: even;
                    animation-duration: 3s;
                    animation-iteration-count: infinite;
                }
            }
        }
    }
}